*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.tesmonianl{
    width: 100%; 
    padding: 70px 0;
    /* background-color: #efefef; */
    /* display: flex; */
}
.tesmonianl_row{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
}
.tesmonianl_col{
    /* flex-basis: 28px; */
    padding: 10px;
   /* background-color: #46fde8; */
   margin: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    /* width: 100%; */
    box-shadow: 0 10px 20px 3px #00968814;
    transition: transform .5s
    ;
    
    cursor: pointer;
}
.tesmonianl_col p{
    font-size: 14px;

}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;

}
.user img{
    width: 50px;
    margin-right: 20px;
    border-radius: 3px ;
}
.icon__social{
    width: 20px;
    height: 20px;
    /* margin-top: 2px; */
}
.user_info small{
    margin-left: 10px;
    color: #27c0ff;
    /* font-size: 20    px; */
}
.user_info h4{
    margin-left: 10px;
}

.tesmonianl_col:hover{
    transform: translateY(-7px);

    
}
@media screen  and (max-width: 770px){

.tesmonianl_col{
    flex-basis: 100%;

}
.tesmonianl_row{
    flex-direction: column;

}
}